/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans');
 */

:root {
    --white: #FFF;
    --black: #000;
    --gold: #2ABBBD;
    --light-grey: #F7F7F7;
    --dark-grey: #5D5C5C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 1em;
    line-height: 1em;
}

p {
    font-size: calc(1vw + .1em);
    font-weight: 400;
    line-height: 1.2em;
}

h1 {
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1em;
}

h2 {
    font-size: 1.7em;
    font-weight: 300;
}

h3 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1em;
}

a {
    text-decoration: none;
}

.logo {
    color: var(--black);
    font-size: 35px;
    font-weight: 600;
}

.logo span {
    color: var(--gold);
}

/* Menü */
nav {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0 50px;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    transition: all 0.4s ease;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-weight: 600;
}


nav ul li a.active,
nav ul li a:hover {
    color: var(--white);
    background: var(--gold);
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.1em, rgba(90, 125, 188, 0.05) 0 0.1em 1em;
}

nav ul li:last-child a {
    border: 1.2px solid var(--gold);
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.1em, rgba(90, 125, 188, 0.05) 0 0.1em 1em;
}

nav ul li:last-child a:active,
nav ul li:last-child a:hover {
    color: var(--white);
    background: var(--gold);
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.1em, rgba(90, 125, 188, 0.05) 0 0.1em 1em;
}

nav .menu-btn i {
    color: var(--white);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

nav.sticky {
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
}

section {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 50px 0 50px 0;
}

.wrapper {
    width: 100%;
    padding: 0 50px 0 50px;
}

/* Kezdőlap */
section#kezdolap {
    background-color: var(--white);
    color: var(--black);
}

.landing {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.landing .content {
    width: 600px;
    align-self: center;
}

.landing p {
    padding: 40px 0 40px 0;
}

.button {
    position: relative;
    border-radius: 5px;
    background: var(--gold);
    padding: 10px 30px;
    text-align: center;
    color: var(--white);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.1em, rgba(90, 125, 188, 0.05) 0px 0.1em 1em;

}

.button span {
    display: inline-block;
    min-width: 2.5em;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 0;
    transform: translate(0, -20px);
    color: var(--white);
    font-weight: 600;

}

.button:before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 1;
    transform: translate(0, 0px);
}

.button:hover:before,
.button:focus:before {
    opacity: 0;
    transform: translate(0, 20px);
}

.button:hover span,
.button:focus span {
    opacity: 1;
    transform: translate(0, 0);
}

.landing .bg {
    padding: 50px 0 0 0;
    align-self: center;
    width: calc(100% - 600px);
}

.landing .social {
    align-self: center;
    margin: 0 auto;
}

.landing .social i {
    text-shadow: rgba(67, 71, 85, 0.27) 0 0 0.03em, rgba(90, 125, 188, 0.05) 0 0.03em 1em;
}

.landing .social li {
    list-style: none;
    padding: 10px;
}

.landing .social li a {
    text-decoration: none;
    color: var(--gold);
    font-size: 2em;
}

.landing .social li a:hover {
    color: var(--white);
    background-color: var(--gold);
}

/* Bemutatkozás */
section#bemutatkozas,
#bankszamla {
    background-color: var(--light-grey);
    color: var(--black);
}

.box {
    width: 100%;
    height: 100%;
    background-color: var(--gold);
    border-radius: 5px;
    box-shadow: inset 0 -80px 0 0 var(--light-grey);
}

.bemutatkozas {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 1.5em 1.5em 0 1.5em;
}

.bemutatkozas .content {
    background-color: var(--white);
    border-radius: 5px;
    width: 500px;
    min-height: 500px;
    padding: 20px;
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;

}

.bemutatkozas .content p {
    text-align: justify;
}

.bemutatkozas .list {
    color: var(--white) !important;
    width: fit-content;
}

.bemutatkozas .list i,
h2 {
    text-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.1em, rgba(90, 125, 188, 0.05) 0px 0.1em 1em;

}


.bemutatkozas .list ul {
    list-style: none;
}

.bemutatkozas .list li {
    padding: 20px;
}



section#hitel {
    background-color: var(--white);
    color: var(--black);
}

.grid-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2em;
}

.grid-item {
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    line-height: 2em;
    width: 350px;
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
    border-bottom: 3px solid var(--gold);
    transition: 0.3s ease-in-out;
}

.grid-item i {
    position: relative;
    padding-bottom: 20px;
    font-size: 4em;
    color: var(--gold);
    text-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.03em, rgba(90, 125, 188, 0.05) 0px 0.03em 1em;
    transition: 0.3s ease-in-out;
}

.grid-item:hover i {
    color: var(--white);
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: var(--gold);
}

.grid-item:hover {
    margin-top: -5px;
}

.grid-item p {
    line-height: 1.2em;
    color: var(--dark-grey) !important;
    padding: 10px 0 0 0;
}

.grid-item a {
    top: 10px;
    position: relative;
    display: inline-block;
    position: relative;
    color: var(--gold);
}

.grid-item a:hover {
    text-decoration: underline;
}

.center-text {
    margin: 0 auto;
    width: fit-content;
    padding: 100px;
}

.wrapper span {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--gold);
    color: var(--light-grey);
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.1em, rgba(90, 125, 188, 0.05) 0 0.1em 1em;
}

.count {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    height: 1em;
    line-height: 1em;
    font-weight: bold;
    font-size: 5em;
}

.count:after {
    position: relative;
    white-space: pre;
    content: "100\A 99\A 98\A 97\A 96\A 95\A 94\A 93\A 92\A 91\A 90\A 89\A 88\A 87\A 86\A 85\A 84\A 83\A 82\A 81\A 80\A 79\A 78\A 77\A 76\A 75\A 74\A 73\A 72\A 71\A 70\A 69\A 68\A 67\A 66\A 65\A 64\A 63\A 62\A 61\A 60\A 59\A 58\A 57\A 56\A 55\A 54\A 53\A 52\A 51\A 50\A 49\A 48\A 47\A 46\A 45\A 44\A 43\A 42\A 41\A 40\A 39\A 38\A 37\A 36\A 35\A 34\A 33\A 32\A 31\A 30\A 29\A 28\A 27\A 26\A 25\A 24\A 23\A 22\A 21\A 20\A 19\A 18\A 17\A 16\A 15\A 14\A 13\A 12\A 11\A 10\A 9\A 8\A 7\A 6\A 5\A 4\A 3\A 2\A 1\A 0";

}

.count.number:after {
    animation: animate 2s steps(100);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


@keyframes animate {
    0% {
        top: 0;
    }

    100% {
        top: -100em;
    }
}


.help {
    padding: 0;
    align-self: center;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.help a {
    color: var(--gold);
    align-items: center;
}

.help a:hover {
    text-decoration: underline;
}

/* Méretezés */
@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
        background-color: var(--white);
    }
}

@media (max-width: 970px) {
    nav .menu-btn i {
        display: block;
        color: var(--black);
    }

    .logo {
        color: var(--black);
        font-size: 35px;
        font-weight: 600;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
        color: var(--black);
    }

    nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        background-color: var(--white);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
        align-items: center;
        justify-content: center;
    }

    nav ul li a,
    nav ul li:last-child a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        border: none;
        box-shadow: none;
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover,
    nav ul li:last-child a.active,
    nav ul li:last-child a:hover {
        background: none;
        color: var(--gold);
        border: none;
        box-shadow: none;
    }
}